---
layout: default
---

<div id="flat">
    <div class="cborder">
        <div class="container">
            <div class="text-inside">
                {{content}}
                <script type="text/javascript">
                    $(document).ready(function () {
                            $('.container').corner("round 10px").parent().css('padding', '5px').corner("round 15px");
                            });</script>
                    </div>
                </div>
            </div>
        </div>

