---
layout: default
---
<div class="m">
    <div id="left">
        <div class="cborder">
            <div class="container">
                <div class="text-inside">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    <div id="right">
        <div class="cborder">
            <div class="container">
                <div class="text-inside">
                    <h1>PRICING</h1>
                    <hr />
                    <ul>
                        <li>Track Master: 50$</li>
                        <li>Mixdown Consultation: $10</li>
                        <li>Mixdown from Stems $75</li>
                        <li>Mastering of a DJ mix: $0.50/min</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="cborder">
            <div class="container">
                <div class="text-inside">
                    <h1>WHY 23?</h1>
                    <hr />
                    <li>Every track I have released to date has been mixed and mastered by myself</li>
                    <li>I work on a good speed/quality trade off at a cheap price. I&#8217;ll get back to you within 48 hours of confirmation, unless I otherwise note it (due to touring or similar)</li>
                    <li>I have experience across multiple genres, even beyond electronic music.</li>
                    <li>Trusted confidentiality. To date there has never been a leak due to me, and you can expect it to stay that way.</li>

                    <br />
                    <h1>WHY NOT 23?</h1>
                    <hr />
                    <li> I do not own $10k of expensive world class equipment in a specially designed acoustically perfect room.  I have decent equipment, in a treated room, but I am not a replacement for high end commercial mixing or mastering.</li>
                    <li>If you expect me to put gold plating on a turd, you will be disappointed. I will also probably tell you if that&#8217;s what you&#8217;re asking me to do.</li>
                    <li>If you don&#8217;t plan on paying me. I will get your name out there.</li>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
                $('.container').corner("round 10px").parent().css('padding', '5px').corner("round 15px");
                });
            </script>
        </div>
